## Introduction

Imagine standing at the check-out counter at the grocery store with a long line behind you and the cashier not-so-quietly announces that your card has been declined. In this moment, you probably aren’t thinking about the data science that determined your fate.<br>

Embarrassed, and certain you have the funds to cover everything needed for an epic nacho party for 50 of your closest friends, you try your card again. Same result. As you step aside and allow the cashier to tend to the next customer, you receive a text message from your bank. “Press 1 if you really tried to spend $500 on cheddar cheese.”<br>

While perhaps cumbersome (and often embarrassing) in the moment, this fraud prevention system is actually saving consumers millions of dollars per year. Researchers from the IEEE Computational Intelligence Society (IEEE-CIS) want to improve this figure, while also improving the customer experience. With higher accuracy fraud detection, you can get on with your chips without the hassle.<br>

The data comes from Vesta's real-world e-commerce transactions and contains a wide range of features from device type to product features. You also have the opportunity to create new features to improve your results.<br>

More details on this Kaggle competition can be found [here](https://www.kaggle.com/c/ieee-fraud-detection/overview).

### Data Description

We are predicting the probability that an online transaction is fraudulent, as denoted by the binary target `isFraud`. The data is broken into two files `identity` and `transaction`, which are joined by `TransactionID`. Not all transactions have corresponding identity information.<br><br>

**Transaction Table**<br>
- TransactionDT: timedelta from a given reference datetime (not an actual timestamp)
- TransactionAMT: transaction payment amount in USD
- ProductCD: product code, the product for each transaction
- card1 - card6: payment card information, such as card type, card category, issue bank, country, etc.
- addr: address
- dist: distances between (not limited) billing address, mailing address, zip code, IP address, phone area, etc.
- P_ and (R__) emaildomain: purchaser and recipient email domain
- C1-C14: counting, such as how many addresses are found to be associated with the payment card, etc. The actual meaning is masked.
- D1-D15: timedelta, such as days between previous transaction, etc.
- M1-M9: match, such as names on card and address, etc.
- Vxxx: Vesta engineered rich features, including ranking, counting, and other entity relations.<br><br>

Categorical Features in this table
****
- `ProductCD`
- `card1` - `card6`
- `addr1` , `addr2`
- `P_emaildomain`
- `R_emaildomain`
- `M1` - `M9`<br>



**Identity Table**<br>
Variables in this table are identity information – network connection information (IP, ISP, Proxy, etc) and digital signature (UA/browser/os/version, etc) associated with transactions. They're collected by Vesta’s fraud protection system and digital security partners. (The field names are masked and pairwise dictionary will not be provided for privacy protection and contract agreement)<br>

Categorical Features in this table
****
- `DeviceType`
- `DeviceInfo`
- `id_12` - `id_38` <br>

**Files**

- train_{transaction, identity}.csv - the training set
- test_{transaction, identity}.csv - the test set (you must predict the `isFraud` value for these observations)
- sample_submission.csv - a sample submission file in the correct format

## Exploratory Data Analysis

Let us unzip the `ieee-fraud-detection.zip` file present in the `input` folder and move it to `data` folder.

In [2]:
#Unzipping the files
!unzip 'input/ieee-fraud-detection.zip' -d 'data/'

Archive:  input/ieee-fraud-detection.zip
  inflating: data/test_identity.csv
  inflating: data/test_transaction.csv
  inflating: data/train_identity.csv
  inflating: data/sample_submission.csv
  inflating: data/train_transaction.csv

In [3]:
#Printing the contents in the data directory
import os
print(os.listdir("data/"))

['sample_submission.csv', 'test_identity.csv', 'test_transaction.csv', 'train_identity.csv', 'train_transaction.csv']

In [4]:
# Disable warnings in Anaconda
import warnings
warnings.filterwarnings('ignore')

#Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#For more info on arguments of seaborn.set()
#https://seaborn.pydata.org/generated/seaborn.set.html

#Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'

#Increase the default plot size and set the color scheme
plt.rcParams['figure.figsize'] = (8,5)
#This works as well - plt.rcParams['figure.figsize'] = 8,5
plt.rcParams['image.cmap'] = 'viridis'

import numpy as np
import pandas as pd
import time
from tqdm import tqdm_notebook
from tqdm import tqdm_pandas

### Loading and Reading the dataset

In [5]:
%%time

df_transact_train = pd.read_csv('data/train_transaction.csv')
df_id_train = pd.read_csv('data/train_identity.csv')
df_transact_test = pd.read_csv('data/test_transaction.csv')
df_id_test = pd.read_csv('data/test_identity.csv')
sample_submission = pd.read_csv('data/sample_submission.csv')

CPU times: user 44.7 s, sys: 42 s, total: 1min 26s
Wall time: 1min 6s

In [6]:
#Printing the shapes of the dataframe(s)
print('Shape of df_transact_train dataframe{}'.format(df_transact_train.shape))
print('Shape of df_id_train dataframe{}'.format(df_id_train.shape))
print('Shape of df_transact_test dataframe{}'.format(df_transact_test.shape))
print('Shape of df_id_test dataframe{}'.format(df_id_test.shape))
print('Shape of sample_submission dataframe{}'.format(sample_submission.shape))

Shape of df_transact_train dataframe(590540, 394)
Shape of df_id_train dataframe(144233, 41)
Shape of df_transact_test dataframe(506691, 393)
Shape of df_id_test dataframe(141907, 41)
Shape of sample_submission dataframe(506691, 2)

### Merging dataset(s)

As per the problem statement, the data is broken into two files `identity` and `transaction`, which are joined by `TransactionID`. Not all transactions have corresponding identity information.<br>
Since _not all transactions have corresponding identity information_ we will use a (left) outer join, using pandas `merge` function as a key might not appear in both tables.

In [7]:
#Merging 'df_transact_train' and 'df_id_train'
df_train = pd.merge(df_transact_train, df_id_train, how = 'left', on = 'TransactionID')

#Merging 'df_transact_test' and 'df_id_test'
df_test = pd.merge(df_transact_test, df_id_test, how = 'left', on = 'TransactionID')

#Reducing the memory usage
del df_transact_train, df_id_train, df_transact_test, df_id_test

#Setting the index as 'TransactionID'
#df_train = df_train.set_index('TransactionID', drop = 'True')

In [8]:
#Print the shape of the new train and test dataframe(s)
print("Training dataset has {} rows and {} columns".format(df_train.shape[0], df_train.shape[1]))
print("Testing dataset has {} rows and {} columns".format(df_test.shape[0], df_test.shape[1]))

Training dataset has 590540 rows and 434 columns
Testing dataset has 506691 rows and 433 columns

In [9]:
#Displaying first 5 rows of df_train dataset
df_train.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [10]:
#Displaying first 5 rows of df_test dataset
df_test.head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3663549,18403224,31.95,W,10409,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663550,18403263,49.00,W,4272,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3663551,18403310,171.00,W,4476,574.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3663552,18403310,284.95,W,10989,360.0,150.0,visa,166.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3663553,18403317,67.95,W,18018,452.0,150.0,mastercard,117.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Columns: 434 entries, TransactionID to DeviceInfo
dtypes: float64(399), int64(4), object(31)
memory usage: 1.9+ GB

In [12]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506691 entries, 0 to 506690
Columns: 433 entries, TransactionID to DeviceInfo
dtypes: float64(399), int64(3), object(31)
memory usage: 1.6+ GB

`df_train` has 434 columns(features), out of which 399 are `float`, 4 are `int64` and 31 are `object` datatypes.<br>
`df_test` has 433 columns(features), out of which 399 are `float`, 3 are `int64` and 31 are `object` datatypes.

Since there are so many features in both train and test dataset(s), `df.columns` will not list all the features. In order to list all the features, we need to take the help of indexing.

In [13]:
#Function to display all the columns
def list_of_entire_features(df):
    first_set_of_100_features = df.columns[0:100]
    second_set_of_100_features = df.columns[101:200]
    third_set_of_100_features = df.columns[201:300]
    fourth_set_of_100_features = df.columns[301:400]
    rem_features = df.columns[401:]
    return first_set_of_100_features, second_set_of_100_features, third_set_of_100_features, fourth_set_of_100_features, rem_features

In [14]:
#Printing the features of training dataset
list_of_entire_features(df_train)

(Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
        'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
        'addr1', 'addr2', 'dist1', 'dist2', 'P_emaildomain', 'R_emaildomain',
        'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11',
        'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8',
        'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4',
        'M5', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7',
        'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17',
        'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27',
        'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37',
        'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45'],
       dtype='object'),
 Index(['V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56',
        'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66',
        'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76',
        'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86',
        'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96',
        'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105',
        'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114',
        'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123',
        'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132',
        'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141',
        'V142', 'V143', 'V144', 'V145'],
       dtype='object'),
 Index(['V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155',
        'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164',
        'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173',
        'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182',
        'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191',
        'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200',
        'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209',
        'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218',
        'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227',
        'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236',
        'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245'],
       dtype='object'),
 Index(['V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255',
        'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264',
        'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273',
        'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282',
        'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291',
        'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300',
        'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309',
        'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318',
        'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327',
        'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336',
        'V337', 'V338', 'V339', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05',
        'id_06'],
       dtype='object'),
 Index(['id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15',
        'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23',
        'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31',
        'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
        'DeviceType', 'DeviceInfo'],
       dtype='object'))

In [15]:
#Printing the features of test dataset
list_of_entire_features(df_test)

(Index(['TransactionID', 'TransactionDT', 'TransactionAmt', 'ProductCD',
        'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'addr1', 'addr2',
        'dist1', 'dist2', 'P_emaildomain', 'R_emaildomain', 'C1', 'C2', 'C3',
        'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14',
        'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11',
        'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7',
        'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
        'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
        'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30',
        'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40',
        'V41', 'V42', 'V43', 'V44', 'V45', 'V46'],
       dtype='object'),
 Index(['V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57',
        'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67',
        'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77',
        'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87',
        'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97',
        'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106',
        'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115',
        'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124',
        'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133',
        'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142',
        'V143', 'V144', 'V145', 'V146'],
       dtype='object'),
 Index(['V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156',
        'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165',
        'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174',
        'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183',
        'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192',
        'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201',
        'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210',
        'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219',
        'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228',
        'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237',
        'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246'],
       dtype='object'),
 Index(['V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256',
        'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265',
        'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274',
        'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283',
        'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292',
        'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301',
        'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310',
        'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319',
        'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328',
        'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337',
        'V338', 'V339', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06',
        'id_07'],
       dtype='object'),
 Index(['id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16',
        'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24',
        'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32',
        'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType',
        'DeviceInfo'],
       dtype='object'))

### Converting the data-type(s) of the features

As per the problem statement, following features are categorical,<br>

_Transaction_ table - `ProductCD`, `card1` - `card6`, `addr1` , `addr2`, `P_emaildomain`, `R_emaildomain`, `M1` - `M9`<br>
_Identity_ table - `DeviceType`, `DeviceInfo`, `id_12` - `id_38` <br>

Either we can verify if this holds true for each of the above feature(s) like below (for `card1` - `card6` features) or we can convert all these features to `object` datatype irrespective of the the datatype(s) they current belong to. This can be done using `astype()`

In [16]:
#Number of features having dtype = int64 in df_train
df_train.select_dtypes(include='int64').nunique()

TransactionID    590540
isFraud               2
TransactionDT    573349
card1             13553
dtype: int64

In [17]:
##Number of features having dtype = object in df_train
df_train.select_dtypes(include = np.object).nunique()

ProductCD           5
card4               4
card6               4
P_emaildomain      59
R_emaildomain      60
M1                  2
M2                  2
M3                  2
M4                  3
M5                  2
M6                  2
M7                  2
M8                  2
M9                  2
id_12               2
id_15               3
id_16               2
id_23               3
id_27               2
id_28               2
id_29               2
id_30              75
id_31             130
id_33             260
id_34               4
id_35               2
id_36               2
id_37               2
id_38               2
DeviceType          2
DeviceInfo       1786
dtype: int64

In [18]:
df_train[[x for x in df_train if 'card' in x]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Data columns (total 6 columns):
card1    590540 non-null int64
card2    581607 non-null float64
card3    588975 non-null float64
card4    588963 non-null object
card5    586281 non-null float64
card6    588969 non-null object
dtypes: float64(3), int64(1), object(2)
memory usage: 31.5+ MB

In [19]:
#Function to convert features datatype
def convert_datatype(df):
    
    card_cols = [x for x in df.columns if 'card' in x]
    for col in card_cols:
        df[card_cols] = df[card_cols].astype('object')
    
    addr_cols = [x for x in df.columns if 'addr' in x]
    for col in addr_cols:
        df[addr_cols] = df[addr_cols].astype('object')
    
    M_cols = [x for x in df.columns if 'M' in x]
    for col in M_cols:
        df[M_cols] = df[M_cols].astype('object')
    
    id_cols = [x for x in df.columns if 'id' in x]
    for col in id_cols:
        df[id_cols] = df[id_cols].astype('object')
    
    df['P_emaildomain'] = df['P_emaildomain'].astype('object')
    df['R_emaildomain'] = df['R_emaildomain'].astype('object')
    df['DeviceType'] = df['DeviceType'].astype('object')
    df['DeviceInfo'] = df['DeviceInfo'].astype('object')
    
    return df

In [20]:
#Applying the above function to 'df_train' and 'df_test'

#Try to use tqdm here LATER!!!
df_train = convert_datatype(df_train)
df_test = convert_datatype(df_test)

In [21]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Columns: 434 entries, TransactionID to DeviceInfo
dtypes: float64(371), int64(3), object(60)
memory usage: 1.9+ GB

In [22]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506691 entries, 0 to 506690
Columns: 433 entries, TransactionID to DeviceInfo
dtypes: float64(371), int64(2), object(60)
memory usage: 1.6+ GB

We can observe that the count of features having `object` datatype has increased in both training and test dataset(s).

### Dealing with Missing Values

Since the dataset contains many features, to find any pattern it's essential to divide the dataframe into sub-dataframe(s) meaning creating new dataframe(s) consisting of related feature(s).<br>
We already have seen there are many `NaN` values, what we should do next is investigate if there are missing observations for some columns that are marked as a `zero value`. We can verify this by the definition of those columns and the domain knowledge that a zero value is invalid for those measures, e.g. a zero for email_columns(as initialized below) is invalid.<br>
In order to do the same, we can use `df.describe()` to print summary statistics on each attribute, focus on the `min` value for each of them and see for ourselves whether there can actually be a minimum value of `zero` for that attribute or if it is because of presence of null-values.<br>
But since, this dataset doesn't contain any `zero` values for null values, we will skip this step.

In [64]:
#Since 'TransactionID' is just ID we will exclude that feature since there is no meaningful statistic to infer from it

#Setting the feature(s) list for `df_train` dataset
useful_columns_train = ['isFraud', 'TransactionDT', 'TransactionAmt', 'ProductCD']
card_columns_train = [x for x in df_train.columns if 'card' in x]
addr_columns_train = [x for x in df_train.columns if 'addr' in x]
dist_columns = ['dist1', 'dist2']
email_columns = ['P_emaildomain', 'R_emaildomain']
C_columns = ['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14']
D_columns = ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14']
M_columns_train = [x for x in df_train.columns if 'M' in x]
V_columns_train = [x for x in df_train.columns if 'V' in x]
id_columns_train = [x for x in df_train.columns if 'id' in x]
device_columns = ['DeviceType', 'DeviceInfo']

#Setting the feature(s) list for `df_test` dataset
useful_columns_train = ['isFraud', 'TransactionDT', 'TransactionAmt', 'ProductCD']
card_columns_test = [x for x in df_test.columns if 'card' in x]
addr_columns_test = [x for x in df_test.columns if 'addr' in x]
dist_columns = ['dist1', 'dist2']
email_columns = ['P_emaildomain', 'R_emaildomain']
C_columns = ['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14']
D_columns = ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14']
M_columns_test = [x for x in df_test.columns if 'M' in x]
V_columns_test = [x for x in df_test.columns if 'V' in x]
id_columns_test = [x for x in df_test.columns if 'id' in x]
device_columns = ['DeviceType', 'DeviceInfo']

In [65]:
print(f'There are {df_train.isnull().any().sum()} columns in training dataset with missing values.')
print(f'There are {df_test.isnull().any().sum()} columns in testing dataset with missing values.')

There are 414 columns in training dataset with missing values.
There are 385 columns in testing dataset with missing values.

In [66]:
#How to List out the non-null features

In [67]:
#Printing useful stats for numerical features
#Note: 'ProductCD' belongs to 'object' datatype and other features are 'numerical' datatype hence no output for this feature
df_train[useful_columns].describe()

       TransactionID        isFraud  TransactionDT  TransactionAmt
count   5.905400e+05  590540.000000   5.905400e+05   590540.000000
mean    3.282270e+06       0.034990   7.372311e+06      135.027176
std     1.704744e+05       0.183755   4.617224e+06      239.162522
min     2.987000e+06       0.000000   8.640000e+04        0.251000
25%     3.134635e+06       0.000000   3.027058e+06       43.321000
50%     3.282270e+06       0.000000   7.306528e+06       68.769000
75%     3.429904e+06       0.000000   1.124662e+07      125.000000
max     3.577539e+06       1.000000   1.581113e+07    31937.391000

We will either have to drop the columns having missing values or impute them. <br>

**Strategy 1**
- Drop the columns/features having more than 50% missing values as it will not be convenient to impute these values since most of the attribute values will be guessed.
- 

**Strategy 2** 

- Impute all the NaN values

In [40]:
#Number of null values in each feature of 'df_train'
df_train.isnull().sum()[1:100]

TransactionID        0
isFraud              0
TransactionDT        0
TransactionAmt       0
ProductCD            0
card1                0
card2             8933
card3             1565
card4             1577
card5             4259
dtype: int64

In [ ]:
#Percentage of null values in each feature of 'df_train'
df_train.isnull().sum()/len(df_train)

In [ ]:
#Number of null values in each feature of 'df_test'
df_test.isnull().sum()

In [ ]:
#Percentage of null values in each feature of 'df_test'
df_test.isnull().sum()/len(df_test)

In [ ]:
def miss_values_gr_50(df):
    missing_values = df.isnull().sum()/len(df)
    cols_miss_values_50 = df.columns[missing_values > 0.5]
    df = df.drop(cols_miss_values_50, axis=1)
    return df

In [ ]:
df_train = miss_values_gr_50(df_train)
df_test = miss_values_gr_50(df_test)

In [ ]:
print(f'There are {df_train.isnull().any().sum()} columns in training dataset with missing values.')
print(f'There are {df_test.isnull().any().sum()} columns in testing dataset with missing values.')

In [ ]:
df_train.isnull().sum()

In [ ]:
%matplotlib notebook
sns.heatmap(df_train, annot = True , fmt = ".01f" , linewidths= 0.5);

We will take a look at `isFraud` feature in the `df_train` dataset